<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="bcf16221-47e1-469f-8436-e540031330ce" Publisher="CN=Danny" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LocationDemo_Win8</DisplayName>
    <PublisherDisplayName>Danny</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LocationDemo_Win8.App">
      <VisualElements DisplayName="LocationDemo_Win8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="LocationDemo_Win8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>